@import "monstergrill.config";
@charset "utf-8";

@font-face {
  font-family: QlassikBold;
  src: url('QlassikBold_TB.ttf'), url('QlassikBold_TB.otf');
}


body {
  background: $bodyBackgroundColor;
  color: $bodyFontColor;
}

h1, h2, h3 {
  font-family: QlassikBold, serif;
  text-transform: uppercase;
}

h1, h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

.header {
  height: 181px;
  text-align: center;
}

.innerheader {
  display: inner-block;
  height: 180px;
  width: 840px;
  border-bottom: 1px dashed $topDashedLineColor;
  margin-left: auto;
  margin-right: auto;
  h1 {
    text-transform: capitalize;
  }
}

.middle {
  text-align: center;
  background-size: 1608px 1181px;
  background-image: $bigtopBackgroundImage;
  background-repeat: no-repeat;
  background-position: center 33%;
}

.topmiddle {
  font-family: "ff-meta-web-pro", sans-serif;
  font-size: 22px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.mainmiddle {
  width: 100%;
  height: 390px;
  overflow: hidden;
  color: #fff;
  font-family: "ff-meta-web-pro", sans-serif;
  font-size: 18px;
  opacity: 0.7;
  background-size: 1604px 1181px;
  background-image: $bigTopMiddelBackgroundImage;
  background-repeat: no-repeat;
  background-position: center 42%;
  border-bottom: $mainMiddleBorderBottom;
  .inner {
    opacity: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    .save-the-steak {
      line-height: 1.1;
      font-family: QlassikBold, serif;
      text-shadow: 3px 2px rgba(0,0,0,0.6);
      color: $saveTheSteakColor;
      text-transform: uppercase;
      font-size: 30px;
      margin: auto;
      width: 695px;
      background-color: $saveTheSteakBackgroundColor;
      padding: 10px;
      a {
        color: $saveTheSteakLinkColor;
      }
    }
    .eventbrite {
      padding-top: 10px;
    }
    .ticketsection {
      position: relative;
      margin-top: 20px;
      width: 705px;
      margin-left: auto;
      margin-right: auto;
      color: $ticketsectionColor;
      opacity: 1;
      padding: 5px;
      background-color: $ticketsectionBackgroundColor;
    }
  }
}

input[type='email'] {
  outline: none;
  padding: 15px;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 90%;
  margin-bottom: 16px;
}

.mainmiddle .inner .ticketsection #mc-embedded-subscribe {
  position: absolute;
  right: 25px;
  outline: none;
  padding: 15px;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 0px;
  -moz-border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 0px;
  margin-bottom: 16px;
  background-color: $newsletterSubscriptionBackgroundColor;
  &:hover {
    background-color: $newsletterSubscriptionBackgroundColorHover;
    border-left: 1px dashed #ccc;
  }
}

.map {
  display: block;
  width: 100%;
}

#map {
  width: 100%;
  height: 360px;
}

@keyframes myfirst
{
  from {background: $bodyFontColor;}
  to {background: $bodyBackgroundColor;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
  from {background: $bodyFontColor;}
  to {background: $bodyBackgroundColor;}
}

.delicious {
  width: 100%;
  display: block;
  text-align: center;
  width: 840px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: "ff-meta-web-pro", sans-serif;
  font-size: 18px;

  .highlighted {
    animation: myfirst 1.5s;
    -webkit-animation: myfirst 1.5s; /* Safari and Chrome */
  }
  h2 {
      margin-top: 0px;
      padding-top: 20px;
    }
  ul, li {
    list-style: none;
    list-style-image: none;
  }
  li {
    &:first-child {
      font-weight: bold;
      :before {
        content: "Dein Gericht: ";
      }
    }
  }
  button {
    outline: none;
    background-color: $bodyBackgroundColor;
    border: $mainMiddleBorderBottom;
  }  
}

.mission {
  width: 100%;
  background-color: $missionBackgroundColor;
  background: $missionBackground;
  .inner {
    display: block;
    text-align: center;
    width: 840px;
    height: 415px;
    margin-left: auto;
    margin-right: auto;
    font-family: "ff-meta-web-pro", sans-serif;
    font-size: 18px;
    h2 {
      margin-top: 0px;
      padding-top: 20px;
    }
  }  
}

.aboutus {
  width: 100%;
  background: $aboutUsBackground;
  .inner {
    display: block;
    text-align: center;
    width: 840px;
    height: 595px;
    margin-left: auto;
    margin-right: auto;
    h2 {
      margin-top: 0px;
      padding-top: 20px;
    }
    .profile {
      width: 50%;
      float: left;
      .profilepic {
        display: block;
        width: 155px;
        height: 155px;
        margin-left: auto;
        margin-right: auto;
      }
      .bio {
        font-family: "ff-meta-web-pro", sans-serif;
        font-size: 18px;
      }
    }
    a.social {
      color: $aboutUsSocialLinks;
      font-weight: 700;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.newsletter {
  border-bottom: 1px solid;
}

.tickets {
  border-bottom: 1px solid;
  min-height: 100px;
  text-align: center;
}

.supporter {
  min-height: 100px;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;
  img {
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.handcreatedfooter {
  display: block;
  height: 100px;
  width: 840px;
  border-top: $handcraftedBorderTop;
  margin-left: auto;
  margin-right: auto;
  .made-with-love {
    padding-top: 30px;
    text-align: center;
    width: 100%;
  }
}

.footer {
  display: block;
  width: 100%;
  background: $footerBackground;
  text-align: center;
  color: $footerColor;
  padding: 5px;
  font-family: "ff-meta-web-pro", sans-serif;
  .contact-link {
    color: $footerContactColor;
    padding: 0px 5px;
    &:hover {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .innerheader {
    width: 100%;
  }
  .topmiddle {
    width: 90%;
    margin: 0px auto;
  }
  .mainmiddle {
    height: auto;
  }
  .mainmiddle .inner .ticketsection {
    width: 90%;
    margin: 0px auto;
  }
  .mainmiddle .inner .save-the-steak {
    width: auto;
  }
  .email {
    width: auto !important;
  }
  #map {
    height: 150px;
  }
  .mission .inner {
    width: 90%;
    margin: 0px auto;
    height: auto;
  }
  .aboutus .inner {
    width: 90%;
    margin: 0px auto;
    height: 1020px;
  }
  .aboutus .inner .profile {
    width: 90%;
    margin: 0px auto;
  }
  .supporter {
    width: 90%;
    margin: 0px auto;
  }
  .handcreatedfooter {
    width: 100%;
  }
}

@media screen and (max-width: 524px) {
  .aboutus .inner {
    height: 1190px;
  }
}

@media screen and (max-width: 362px) {
  .aboutus .inner {
    height: 1245px;
  }
}