---
title: monstergrill.io - Das Startup Grillen
---
<!-- Header -->
<section class='header'>
  <div class='innerheader'>
    <%= image_tag 'monstergrill-logo.png', :alt => "Monstergrill.io" %>
  </div>
</section>

<!-- Middle Section -->
<section class='middle'>
  <div class='topmiddle'>MonsterBBQ ist ein Networking Event, welches sich an Gründer, Gründungsinteressierte, Selbstständige, Freelancer, Technologiebegeisterte, Maker oder anderweitige Kreative richtet.</div>
  <div class='mainmiddle'>
    <div class='inner'>
      <h2>Save the Steak!</h2>
      
      <!-- Table -->
      <table class='table'>
        <tr>
          <td class='left'>
            <span>Wo</span><br/>
            <span>tba.</span>
          </td>
          <td class='middle'>
            <span>28.08.2013</span><br/>
            <span>18h Open Start</span>
          </td>
          <td class='right'>
            <span>Eintritt</span><br/>
            <span>10 Euro</span>
          </td>
        </tr>
      </table>

      <!-- Eventim Tickets -->
      <div class='ticketsection'>
        <div id='mc_embed_signup' class='signup'>
          <form action='http://boyne.us7.list-manage.com/subscribe/post?u=9dfe2ae530202cf543f23649c&amp;id=f08d2bbc57' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='validate' target='_blank' novalidate>
            <div>
              <p>
                Um mehr Infos zu monstergrill.io zu bekommen, trag bitte Deine E-Mail Adresse ein!
              </p>
              <div class='mc-field-group'>
                <label for='mce-EMAIL'> E-Mail Adresse </label>
                <input type='email' value='' name='EMAIL' class='required email' id='mce-EMAIL' placeholder='E-Mail Adresse'>
                <div id='mce-responses' class='clear'>
                  <div class='response' id='mce-error-response' style='display:none'></div>
                  <div class='response' id='mce-success-response' style='display:none'></div>
                  <div class='clear'>
                    <input type='submit' value='Mehr Infos zu monstergrill bekommen!' name='subscribe' id='mc-embedded-subscribe' class='button'>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Map Section -->
<section class='map'>
  <div id='map'>
  </div>
  <!-- <iframe width='500' height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/johannesboyne.map-nq2k0d15.html#16/51.95770160370922/7.614727020263672'></iframe> -->
  <!-- <iframe width='100%', height='250', frameBorder='0', src='http://a.tiles.mapbox.com/v3/johannesboyne.map-nq2k0d15.html#16/51.957371023955744/7.615177631378174'></iframe> -->
</section>

<!-- About Us Section -->
<section class='aboutus'>
  <div class='inner'>
    <h2>Über Uns</h2>
    <div>
      <div class='profile'>
        <div class='profilepic'>
          <%= image_tag 'monstergrill-peter-grosskopf.png' %>
          <!-- <img src="/img/monstergrill-peter-grosskopf-png"> -->
        </div>
        <h3>Name</h3>
        <p>Biographie.... <br/>Lorem ipsum Minim qui incididunt deserunt laborum in quis id dolor eiusmod ea sit id ut cillum.</p>
      </div>
      <div class='profile'>
        <div class='profilepic'>
          <%= image_tag 'monstergrill-johannes-boyne.png' %>
          <!-- <img src="/img/monstergrill-peter-grosskopf-png"> -->
        </div>
        <h3>Name</h3>
        <p>Biographie.... <br/>Lorem ipsum In cillum voluptate tempor sint voluptate veniam commodo veniam amet id aliquip incididunt enim mollit.</p>
      </div>
    </div>
  </div>
</section>

<!-- Supporter -->
<section class='supporter'>
  <h2>Supporter</h2>
</section>

<!-- <3 -->
<section class='handcreatedfooter'>
  <div><%= image_tag 'made-with-love-in-muenster.png' %></div>
</section>

<!-- Footer -->
<section class='footer'>
  <p>
    <b>Kontakt:</b> 0151-22657236 - <a href="mailto:steak@monstergrill.io">steak@monstergrill.io</a>
  </p>
</section>